.container {
  -webkit-box-shadow: 0px 0px 25px -10px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 25px -10px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 25px -10px rgba(66, 68, 90, 1);
}
.grid_border {
 border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}
.grid_right {
  border-right: 1px solid rgba(128, 128, 128, 0.25);
}
.grid_left {
  border-left: 1px solid rgba(128, 128, 128, 0.25);
}
.shadow {
  text-shadow: 0px 0px 10px black;
}
.card_left_bg {
  background-image: url('/src/assets/woman_walking_dog.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 50%;
}
.card_right_bg {
  background-image: url('/src/assets/dog_high_five.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 60%;
}