.card:hover {
  background-color: rgba(250,176,5, 0.2);
  scale: 1.05;
  transition: 0.2s;
  user-select: none;
}
.list:hover {
  background-color: rgba(250,176,5, 0.1);
  scale: 1.04;
  transition: 0.15s;
  user-select: none;
}
.card, .list {
  padding: 8px;
}
.grid_item_border {
  border-radius: 0% 20%;
}