.box_shadow {
  -webkit-box-shadow: 0px 0px 10px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 10px -5px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 10px -5px rgba(66, 68, 90, 1);
}
.parallax {
  background-attachment: fixed;
  background-position: 50% 250px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end_bg {
  cursor: pointer;
}
.link {
  color: var(--main-theme-color);
}
.bg {
  background-color: var(--main-secondary-color);
}
.text_secondary {
  color: var(--main-secondary-color);
}
@media (min-width: 1921px) {
 .parallax {
  background-position: 50% 300px;
 }
}
