.box_shadow {
  -webkit-box-shadow: 8px 8px 8px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 8px -9px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 8px -9px rgba(66, 68, 90, 1);
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title2 {
  font-size: 3rem;
}
.title {
  font-size: 4rem;
  text-shadow: 1px 1px 2px black;
}
.paragraph {
  color: white;
  text-shadow: 1px 1px 2px black;
}
.intro_text {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.end_bg {
  cursor: pointer;
}
.heading_shadow {
  text-shadow: 1px 1px 1px black;
}
