.subcollapse:Hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
.logo_container {
  height: 200px;
}
.burger_element {
  margin-top: 1em;
}
.oferta:hover {
  cursor: pointer;
}
.hover_text:hover {
  color: var(--main-theme-color)!important;
}
.menu_item {
  &[data-hovered] {
    color: var(--main-theme-color)!important;
  }
}
.hover_text2 {
  background-color: red;
}